.gameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000 74%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
}

.firstPlayerContainer {
  display: flex;
  margin: auto 20px;
  flex-direction: column;
  align-items: center;
}

.secondPlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 20px;
}

@media screen and (max-width: 610px) {
  .gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
