.gameResultsHistoryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  font-size: 15px;
  color: #fff;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000 74%);
  box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
  height: 50vh;
  width: 15vw;
  margin: auto 20px;
  border-radius: 25px;
  overflow-y: scroll; }

.gameResultsHistoryContainer::-webkit-scrollbar {
  display: none; }

.scoreContainer {
  display: flex;
  justify-content: space-around; }

.userPlayer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.computerPlayer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.playerNames {
  display: flex;
  margin: 10px auto; }

@media screen and (max-width: 1110px) {
  .gameResultsHistoryContainer {
    height: 30vh;
    width: 30vw;
    margin: 10px auto; } }

@media screen and (max-width: 610px) {
  .gameResultsHistoryContainer {
    font-size: 13px;
    height: 30vh;
    width: 30vw;
    margin: 10px auto; } }
